.aligncenter {
    text-align: center;
}

.boardspadding {
    padding: 5%;
}

.boardslist {
    padding: 5%;
    background-color: #d1ecf1;
    border: 1px solid #bee5eb;
    color: #0c5460;
}

.whitetext {
    color: #ffffff;
}

.bg-orange {
    background-color: #fd7e14;
}

.btn-orange {
    color: #fff;
    background-color: #fd7e14;
    border-color: #fd7e14;
}

.messagetext {
    text-align: center;
    color: #bb4400;
}

.childpost {
    padding-left: 10%;
}

.postmargin {
    margin-bottom: 2%;
}

.postform {
    margin-left: auto;
    margin-right: auto;
    min-width: 30%;
    max-width: 90%;
    background-color: #d1ecf1;
    border: 1px solid #bee5eb;
    border-radius: 5px;
    padding: 1%;
    color: #0c5460;
}

.posttext {
    white-space: pre-wrap;
}