<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/static/media/favicon.png"/>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/stylesheet.css">

    <title>Протонач — /{{ board.name }}/</title>
    <meta name="description" content="{{ board.about }}"/>
</head>

<body>
    <header>

        <div class="alertwithoutround alert-info" role="alert">
            <a href="/">
                <h2>Протонач</h2>
            </a>
            <h1 class="aligncenter">/{{ board.name }}/ — {{ board.full_name }}</h1>
            <h3 class="aligncenter">{{ board.about }}</h3>
            {% if from_admin and not is_banned %}
                <div class="aligncenter"><a href="/admin"><button type="button" class="btn btn-orange"><h2>Меню админа</h2></button></a></div>
            {% endif %}
        </div>

    </header>

    <h1 class="aligncenter">Создать тред</h1>
            <form class="postform" method="post" enctype=multipart/form-data>
                <div class="form-group">
                    <label for="topic">Введите тему</label>
                    <textarea class="form-control" id="topic" rows="1" name="topic">{{ topic }}</textarea>
                </div>
                <div class="form-group">
                    <label for="text">Введите текст</label>
                    <textarea class="form-control" id="text" rows="3" name="text">{{ text }}</textarea>
                </div>
                <div class="form-group">
                    <label for="file[]">Приложите медиафайлы (Максимальный размер — {{ max_size }} МБ, максимум файлов — {{ max_count}})</label>
                    <label for="file[]">Поддерживаемые типы файлов: {{ accept_files_text }}</label>
                    <input type=file class="form-control-file" id="file[]" name="file[]" multiple="multiple" accept="{{ accept_files }}">
                </div>
                <div class="form-group">
                    <label for="captcha">Введите цифры, как на картинке:</label><br>
                    <img class="postmargin media" src="{{ captcha }}" alt="Каптча">
                    <textarea class="form-control" id="captcha" rows="1" name="captcha"></textarea>
                </div>

                <button type="submit" class="btn btn-orange">Отправить</button>
            </form>

    {% if message %}
    <h2 class="messagetext"><i>{{ message }}</i></h2>
    {% endif %}

    <div class="boardspadding">

        {% if posts_count %}

            <h1 class="padding">
                Посты:
            </h1>

            {% for post in posts[::-1] %}

            <div class="postmargin">

                {% if post.poster == ip %}
                <div class="alert alert-warning" role="alert">
                {% else %}
                <div class="alert alert-info" role="alert">
                    {% endif %}

                    {% if from_admin %}
                        <form method="post">
                            <div>
                                <button type="submit" class="btn btn-orange" name="delete_post" value="{{ post.id }}">Удалить пост</button>
                                <button type="submit" class="btn btn-orange" name="ban" value="{{ post.id }}">Забанить постера</button>
                            </div>
                        </form>
                    {% endif %}

                    Аноним, {{ post.time_to_show }} {{ zone }}, <b>№{{ post.id }}</b>

                        <form method="post">
                            <button type="submit" name="like" value="{{ post.id }}" class="badge bg-success rounded-pill">
                                {% if ip not in post.raters_like %}
                                <img src="/static/media/like.png">
                                {% else %}
                                <img src="/static/media/like_activated.png">
                                {% endif %}
                                <div class="whitetext">{{ post.likes }}</div>
                            </button>
                            <button type="submit" name="dislike" value="{{ post.id }}" class="badge bg-danger rounded-pill">
                                {% if ip not in post.raters_dislike %}
                                <img src="/static/media/dislike.png">
                                {% else %}
                                <img src="/static/media/dislike_activated.png">
                                {% endif %}
                                <div class="whitetext">{{ post.dislikes }}</div>
                            </button>
                        </form><br>

                    {% if post.topic %}
                        <h2 class="posttext">{{ post.topic }}</h2>
                    {% endif %}

                    {% if post_media[post.id] %}
                    <div class="media">
                        {% for i in range(post_media_count[post.id]) %}
                        <div class="aligncenter mediapadding">
                        [<i>{{ post_media_name[post.id][i] }}</i>]<br>

                        {% if post_media_type[post.id][i] in image_files %}
                            <a href="/static/media/from_users/{{ post_media[post.id][i] }}">
                                <img src="/static/media/from_users/{{ post_media[post.id][i] }}" height="96"
                                     alt="{{ post_media_name[post.id][i] }}">
                            </a>
                        {% elif post_media_type[post.id][i] in video_files %}
                            <video controls src="/static/media/from_users/{{ post_media[post.id][i] }}" width="256"></video>
                        {% elif post_media_type[post.id][i] in audio_files %}
                            <audio controls src="/static/media/from_users/{{ post_media[post.id][i] }}"></audio>
                        {% endif %}
                        </div>
                        {% endfor %}
                        </div><br>
                    {% endif %}

                    <div class="posttext">{{ post.text }}</div><br>

                    {% if post_answers[post.id] % 10 == 0 or post_answers[post.id] % 10 >= 5 or (11 <= post_answers[post.id] % 100 <= 19) %}
                    <a href="/{{board.name}}/{{post.id}}"><button type="button" class="btn btn-orange">Войти в тред ({{ post_answers[post.id] }} ответов)</button></a>
                    {% elif post_answers[post.id] % 10 == 1 %}
                    <a href="/{{board.name}}/{{post.id}}"><button type="button" class="btn btn-orange">Войти в тред ({{ post_answers[post.id] }} ответ)</button></a>
                    {% else %}
                    <a href="/{{board.name}}/{{post.id}}"><button type="button" class="btn btn-orange">Войти в тред ({{ post_answers[post.id] }} ответа)</button></a>
                    {% endif %}

                </div>

                {% endfor %}

            </div>

        {% else %}

            <h1 class="aligncenter">
                Тредов на этой доске нет. Можете стать первопроходцем.
            </h1>

        {% endif %}

    </div>

    <h3 class="aligncenter">Не забывайте обновлять страницу, чтобы была возможность увидеть новые посты.</h3>

</body>
</html>
