<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">

    <link rel="icon" type="image/png" href="/static/media/favicon.png"/>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/stylesheet.css">

    <title>Протонач</title>
</head>

<body>
    <header>

        <div class="alert alert-info" role="alert">
            <h1 class="aligncenter">Протонач</h1>
        </div>

    </header>

    <p class="aligncenter">
        Добро пожаловать на <b>Протонач</b>! Здесь люди могут общаться анонимно на разные тематики.
    </p>

    <p class="aligncenter">
        Чтобы одни не мешали другим, на каждую тематику созданы так называемые <b>"доски"</b> — отдельные страницы сайта, где пользователи создают <b>"треды"</b> — обсуждения чего-то конкретного.
    </p>

    <p class="aligncenter">

        {% if boards_count % 10 == 0 or boards_count % 10 >= 5 %}
        На данный момент открыто <b>{{ boards_count }}</b> досок.

        {% elif boards_count % 10 == 1 %}
        На данный момент открыта <b>{{ boards_count }}</b> доска.

        {% else %}
        На данный момент открыты <b>{{ boards_count }}</b> доски.

        {% endif %}

    </p>

    <p class="aligncenter">
        <img src="/static/media/anon.png" width="218" height="286">
    </p>

    {% if boards_count %}

        <div class="boardslist">

            <h1 class="colortext">
                Доски:
            </h1>

            <div class="list-group">

                {% for board in boards %}

                <div class="ms-2 me-auto">
                    <a href="/{{ board.name }}">
                        <button type="button" class="list-group-item list-group-item-action">
                            <b>/{{ board.name }}/</b> — {{ board.full_name }}
                            <span class="badge bg-info rounded-pill">
                                {% if posts[board.name] % 10 == 0 or posts[board.name] % 10 >= 5 %}
                                <div class="whitetext">{{ posts[board.name] }} постов</div>
                                {% elif posts[board.name] % 10 == 1 %}
                                <div class="whitetext">{{ posts[board.name] }} пост</div>
                                {% else %}
                                <div class="whitetext">{{ posts[board.name] }} поста</div>
                                {% endif %}
                            </span>
                        </button>
                    </a>
                </div>

                {% endfor %}
            </div>
        </div>

    {% endif %}
</body>
</html>
