<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="static/css/index.css">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>Протонач</title>
</head>

<body>
    <header>

        <div class="alert alert-info" role="alert">
            <h1>Протонач</h1>
        </div>

        <p class="aligncenter">
            Добро пожаловать на Протонач! Здесь люди могут общаться анонимно на разные тематики.
        </p>

        <p class="aligncenter">
            Чтобы одни не мешали другим, на каждую тематику созданы так называемые "доски" — отдельные страницы сайта, где пользователи создают "треды" — обсуждения чего-то конкретного.
        </p>

        <p class="aligncenter">
            На данный момент открыто {{ boards_count }} досок.
        </p>

        <p class="aligncenter">
            <img src="static/img/anon.png" width="218" height="286">
        </p>

        <style>
            .aligncenter {
            text-align: center;
            }
        </style>
    </header>
</body>
</html>