<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">

    <link rel="icon" type="image/png" href="/static/media/favicon.png"/>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">

    <style>

        .aligncenter {
            text-align: center;
        }

        .boardspadding {
            padding: 5%;
        }

        .childpost {
            padding-left: 10%;
        }

        .postmargin {
            margin-bottom: 2%;
        }

        .loginform {
            margin-left: auto;
            margin-right: auto;
            max-width: 450px;
            background-color: #d1ecf1;
            border: 1px solid #bee5eb;
            border-radius: 5px;
            padding: 1%;
            color: #0c5460;
        }

    </style>

    <title>Протонач — /{{ board.name }}/, №{{ the_post.id }}</title>
</head>

<body>
    <header>

        <div class="alert alert-info" role="alert">
            <a href="/">
                <h2>Протонач</h2>
            </a>
            <h1 class="aligncenter">/{{ board.name }}/ — {{ board.full_name }}</h1>
            <h3 class="aligncenter">{{ board.about }}</h3>
        </div>

    </header>

    <h1 class="aligncenter">Тред-пост №{{ the_post.id }}</h1>

    <div class="boardspadding">

        <div class="postmargin">

            <div class="alert alert-info" role="alert">

                <p>Аноним, {{ the_post.time }}, №{{ the_post.id }}</p>

                <h2>{{ the_post.topic }}</h2>

                {% if the_post.media %}

                    {% if the_post.media_type in ['png', 'jpg', 'jpeg', 'gif'] %}
                        <a href="/static/media/from_users/{{ the_post.media }}">
                            <img src="/static/media/from_users/{{ the_post.media }}" width="256">
                        </a><br>
                    {% elif the_post.media_type in ['webm', 'mp4'] %}
                        <video controls src="/static/media/from_users/{{ the_post.media }}" width="256"></video>
                    {% elif the_post.media_type in ['wav', 'mp3'] %}
                        <audio controls src="/static/media/from_users/{{ the_post.media }}"></audio>
                    {% endif %}
                    <br>

                {% endif %}

                <p>{{ the_post.text }}</p>

            </div>

        </div>

        {% if posts_count %}

            <div class="childpost">

                <h3>Ответы:</h3>

                {% for post in posts %}

                    <div class="postmargin">

                        <div class="alert alert-info" role="alert">

                            <p>Аноним, {{ post.time }}, №{{ post.id }}</p>

                            <h2>{{ post.topic }}</h2>

                            {% if post.media %}

                            {% if post.media_type in ['png', 'jpg', 'jpeg', 'gif'] %}
                                <a href="/static/media/from_users/{{ post.media }}">
                                    <img src="/static/media/from_users/{{ post.media }}" width="256">
                                </a><br>
                            {% elif post.media_type in ['webm', 'mp4'] %}
                                <video controls src="/static/media/from_users/{{ post.media }}" width="256"></video>
                            {% elif post.media_type in ['wav', 'mp3'] %}
                                <audio controls src="/static/media/from_users/{{ post.media }}"></audio>
                            {% endif %}
                            <br>

                            {% endif %}

                            <p>{{ post.text }}</p>

                        </div>

                    </div>

                {% endfor %}

            </div>

        {% else %}

            <h3>Нет ответов, напишите первым.</h3>

        {% endif %}

    </div>

    <h3 class="aligncenter">Не забывайте обновлять страницу, чтобы была возможность увидеть новые посты.</h3>

    <h1 class="aligncenter">Ответить в тред</h1>

            <form class="loginform" method="post" enctype=multipart/form-data>
                <div class="form-group">
                    <label for="topic">Введите тему</label>
                    <textarea class="form-control" id="topic" rows="1" name="topic"></textarea>
                </div>
                <div class="form-group">
                    <label for="text">Введите текст</label>
                    <textarea class="form-control" id="text" rows="3" name="text"></textarea>
                </div>
                <div class="form-group">
                    <label for="file">Приложите медиафайл</label>
                    <input type=file class="form-control-file" id="file" name="file">
                </div>

                <button type="submit" class="btn btn-primary">Отправить</button>
            </form>
</body>
</html>