<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">

    <link rel="icon" type="image/png" href="/static/media/favicon.png"/>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/stylesheet.css">

    <title>Протонач — /{{ board.name }}/, №{{ the_post.id }}</title>
</head>

<body>
    <header>

        <div class="alert alert-info" role="alert">
            <a href="/">
                <h2>Протонач</h2>
            </a>
            <h1 class="aligncenter">/{{ board.name }}/ — {{ board.full_name }}</h1>
            <h3 class="aligncenter">{{ board.about }}</h3>
        </div>

    </header>

    <h1 class="aligncenter">Тред-пост №{{ the_post.id }}</h1>

    <div class="boardspadding">

        <div class="postmargin">

            <div class="alert alert-info" role="alert">

                Аноним, {{ the_post.time }}, <b>№{{ the_post.id }}</b>

                <form method="post">
                    <button type="submit" name="like" value="{{ the_post.id }}" class="badge bg-success rounded-pill">
                        <div class="whitetext">{{ the_post.likes }}</div>
                    </button>
                    <button type="submit" name="dislike" value="{{ the_post.id }}" class="badge bg-danger rounded-pill">
                        <div class="whitetext">{{ the_post.dislikes }}</div>
                    </button>
                </form><br>

                {% if the_post.topic %}
                    <h2>{{ the_post.topic }}</h2>
                {% endif %}

                {% if the_post.media %}

                    [<i>{{ the_post.media_name }}</i>]<br>

                    {% if the_post.media_type in image_files %}
                        <a href="/static/media/from_users/{{ the_post.media }}">
                            <img src="/static/media/from_users/{{ the_post.media }}" height="192"
                                alt="{{ the_post.media_name }}">
                        </a><br>
                    {% elif the_post.media_type in video_files %}
                        <video controls src="/static/media/from_users/{{ the_post.media }}" height="192"></video>
                    {% elif the_post.media_type in sound_files %}
                        <audio controls src="/static/media/from_users/{{ the_post.media }}"></audio>
                    {% endif %}
                    <br>

                {% endif %}

                <pre>{{ the_post.text }}</pre>

            </div>

        </div>

        {% if posts_count %}

            <div class="childpost">

                <h3>Ответы:</h3>

                {% for post in posts %}

                    <div class="postmargin">

                        <div class="alert alert-info" role="alert">

                            Аноним, {{ post.time }}, <b>№{{ post.id }}</b>

                            <form method="post">
                            <button type="submit" name="like" value="{{ post.id }}" class="badge bg-success rounded-pill">
                                <div class="whitetext">{{ post.likes }}</div>
                            </button>
                            <button type="submit" name="dislike" value="{{ post.id }}" class="badge bg-danger rounded-pill">
                                <div class="whitetext">{{ post.dislikes }}</div>
                            </button>
                            </form><br>

                            {% if post.topic %}
                                <h2>{{ post.topic }}</h2>
                            {% endif %}

                            {% if post.media %}

                            [<i>{{ post.media_name }}</i>]<br>

                            {% if post.media_type in image_files %}
                                <a href="/static/media/from_users/{{ post.media }}">
                                    <img src="/static/media/from_users/{{ post.media }}" height="192"
                                        alt="{{ post.media_name }}">
                                </a><br>
                            {% elif post.media_type in video_files %}
                                <video controls src="/static/media/from_users/{{ post.media }}" height="192"></video>
                            {% elif post.media_type in sound_files %}
                                <audio controls src="/static/media/from_users/{{ post.media }}"></audio>
                            {% endif %}
                            <br>

                            {% endif %}

                            <pre>{{ post.text }}</pre>

                        </div>

                    </div>

                {% endfor %}

            </div>

        {% else %}

            <h3>Нет ответов, напишите первым.</h3>

        {% endif %}

    </div>

    <h3 class="aligncenter">Не забывайте обновлять страницу, чтобы была возможность увидеть новые посты.</h3>

    <h1 class="aligncenter">Ответить в тред</h1>

            <form class="loginform" method="post" enctype=multipart/form-data>
                <div class="form-group">
                    <label for="topic">Введите тему</label>
                    <textarea class="form-control" id="topic" rows="1" name="topic"></textarea>
                </div>
                <div class="form-group">
                    <label for="text">Введите текст</label>
                    <textarea class="form-control" id="text" rows="3" name="text"></textarea>
                </div>
                <div class="form-group">
                    <label for="file">Приложите медиафайл</label>
                    <input type=file class="form-control-file" id="file" name="file" accept="{{ accept_files }}">
                </div>

                <button type="submit" class="btn btn-primary">Отправить</button>
            </form>
</body>
</html>
